.my-skills-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 24px;
    padding-top: 60px;
    height: 87vh;
}

.my-skills-container > .skill-container {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.my-skills-container > .skill-container:hover {
    animation: emphasis-2 0.5s ease-in forwards;
}

.my-skills-container > .skill-container > .skill-img{
    height: 25vh;
}

.my-skills-container > .skill-container > .skill-text {
    font-size: 2rem;
}