.avatar-container {
    padding: 20px;
    flex: 0 0 25%;
    cursor: pointer;
}

.avatar-container > img {
    height: 30vh;
    border: 5px solid #d1d5e8;
    border-radius: 60%;
}

.avatar-container > img.rect {
    border-radius: 0;
    padding: 5px;
}