  .App-header {
    background-color: #282c34;
    min-height: 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0 15px;
  }

  .App-header > .menu {
    cursor: pointer;
  }
  
  .App-header > a {
    color: #afb8f1;
    padding: 8px;
    margin: 0;
    text-decoration: none;
  }