.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0 20px;
  }
  
  .App-header > a {
    color: #afb8f1;
    text-decoration: none;
  }
  
  .App-header > a.active {
    text-decoration: underline;
  }