.personal-info-container {
    flex: 0 0 35%;
}

.personal-info-container > .name{
    font-size: 2.5rem;
    text-align: center;
}

.personal-info-container > .desig{
    font-size: 1.5rem;
    text-align: center;
}

.personal-info-container > .info-list {
    list-style-type: none;
    width: 80vw;
}

.personal-info-container > .info-list > .info-list-item {
    display: flex;
    align-items: center;
}

.personal-info-container > .info-list > .info-list-item > .icon{
    margin-right: 10px;
}

.personal-info-container > .info-list > .info-list-item > .info{
    font-weight: bolder;
}

.personal-info-container > .info-list > .info-list-item > .info > .data{
    font-size: 1rem;
}

@media (min-width: 600px)and (max-width: 900px){
    .personal-info-container > .info-list {
        width: 50vw;
    }
    .personal-info-container > .name, .personal-info-container > .desig {
        text-align: unset;
        padding-left: 40px;
    }
}
 
@media (min-width: 900px) and (max-width: 1100px){
    .personal-info-container > .name {
        font-size: 3rem;
    }
    .personal-info-container > .desig {
        font-size: 2rem;
    }
    .personal-info-container > .name, .personal-info-container > .desig {
        text-align: unset;
        padding-left: 40px;
    }
    .personal-info-container > .info-list {
        width: 50vw;
    }
    .personal-info-container > .info-list > .info-list-item > .info > .data {
        font-size: 1.6rem;
    }
}
 
@media (min-width: 1100px){ 
    .personal-info-container > .name {
        font-size: 3rem;
    }
    .personal-info-container > .desig {
        font-size: 2rem;
    }
    .personal-info-container > .name, .personal-info-container > .desig {
        text-align: unset;
        padding-left: 40px;
    }
    .personal-info-container > .info-list {
        width: 25vw;
    }
    .personal-info-container > .info-list > .info-list-item > .info > .data {
        font-size: 1.5rem;
    }
}