.App {
  display: block;
}

.bg-grey {
  background-color: #afb8f1;
}

.bg-orange {
  background-color: #facc88;
}

.bg-green {
  background-color: rgb(185, 242, 185);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@keyframes fade-glow {
  to {
    background-color: lightgray;
    color: darkslategrey;
  }
}

@keyframes fade-glow-2 {
  to {
    background-color: rgb(220, 220, 250);
  }
}

@keyframes emphasis-2 {
  to {
    padding-top: 12px;
    box-shadow: 10px 10px 10px 10px rgb(190, 189, 211);
  }
}

@keyframes halo {
  to {
    opacity: 1;
    box-shadow: 20px 20px 20px 20px rgb(69, 69, 72);
  }
}

@keyframes halo-glow {
  to {
    background-color: rgb(91, 91, 99);
  }
}

@keyframes peek-from-left {
  from {
    width: 0%;
  }
  to {
    width: 14%;
  }
}
